<ul>
  <% @instruments.each do |instrument| %>
    <li><%= link_to instrument.instrument_type, instrument_path(instrument) %></li>
  <% end %>
</ul>

<%= link_to "Create new instrument", new_instrument_path %>
